<div
  class="hero min-h-screen bg-[url('/assets/img/image2-login.jpg')] bg-cover bg-center"
>
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div
      class="card bg-white/30 w-full max-w-sm shrink-0 shadow-2xl backdrop-blur-md"
    >
      <div class="card-body">
        <!-- Formulario con acción de envío -->
        <form
          action=""
          method="POST"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
        >
          <fieldset class="fieldset">
            <label class="label font-bold" for="email">Correo electronico</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              name="email"
              class="input"
              placeholder="Email"
              required
            />

            <!-- Errores de Email -->
            <div
              class="text-red-500 text-sm mt-1"
              *ngIf="
                loginForm.get('email')?.touched &&
                loginForm.get('email')?.hasError('required')
              "
            >
              El correo es requerido
            </div>
            <label class="label font-bold" for="password">Contraseña</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              name="password"
              class="input"
              placeholder="Password"
              required
            />
            <div
              class="text-red-500"
              *ngIf="
                loginForm.get('password')?.touched &&
                loginForm.get('password')?.hasError('required')
              "
            >
              La contraseña es requerida
            </div>
            <div *ngIf="errorMessage" class="text-red-500 mt-2 font-bold">
              {{ errorMessage }}
            </div>

            <div><a href="#" class="link link-hover">Olvido su contraseña?</a></div>
            <div><a href="register" class="link link-hover">Registrarse</a></div>

            <button
              type="submit"
              class="btn btn-neutral mt-4 w-full"
              [disabled]="isLoading"
            >
              <span *ngIf="!isLoading">Iniciar</span>
              <span
                *ngIf="isLoading"
                class="loading loading-spinner loading-md"
              ></span>
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
