<div
  class="flex flex-wrap rounded-2xl justify-center p-[5px] gap-[5px] mt-[50px] bg-[#1C2229] mx-auto max-w-[1200px]"
>
  <!-- Imagen -->
  <div class="bg-white/5 w-full sm:w-[500px] p-[5px] rounded-2xl">
    <img
      class="h-[390px] w-full rounded-2xl object-cover"
      [src]="'/assets/img/motorcycle-459594_1280 (1).jpg'"
      alt=""
    />
  </div>

  <!-- Contenido -->
  <div
    class="w-full sm:w-[300px] p-[10px] rounded-2xl bg-white/5 grid grid-rows-[auto_auto_1fr_auto] gap-[10px]"
  >
    <!-- Título -->
    <h1 class="text-6xl font-bold text-black">Motor GX- m90</h1>

    <!-- Fecha -->
    <p class="text-xs">Aida Bao | Madrid | 07 may 2025 - 22:15 COT</p>

    <!-- Descripción -->
    <p class="text-4xl">
      Noticia importante sobre el motor BG-08 para pulsar Ns para verificar
    </p>

    <!-- Enlace -->
    <a href="" class="text-red text-2xl underline sm:ml-[180px] ml-0 text-center sm:text-left">
      Ver mas...
    </a>
  </div>
</div>
<div
  class="flex flex-wrap rounded-2xl justify-center p-[5px] gap-[5px] mt-[50px] bg-[#1C2229] mx-auto max-w-[1200px]"
>
  <!-- Imagen -->
  <div class="bg-white/5 w-full sm:w-[500px] p-[5px] rounded-2xl">
    <img
      class="h-[390px] w-full rounded-2xl object-cover"
      [src]="'/assets/img/motorcycle-459594_1280 (1).jpg'"
      alt=""
    />
  </div>

  <!-- Contenido -->
  <div
    class="w-full sm:w-[300px] p-[10px] rounded-2xl bg-white/5 grid grid-rows-[auto_auto_1fr_auto] gap-[10px]"
  >
    <!-- Título -->
    <h1 class="text-6xl font-bold text-black">Motor GX- m90</h1>

    <!-- Fecha -->
    <p class="text-xs">Aida Bao | Madrid | 07 may 2025 - 22:15 COT</p>

    <!-- Descripción -->
    <p class="text-4xl">
      Noticia importante sobre el motor BG-08 para pulsar Ns para verificar
    </p>

    <!-- Enlace -->
    <a href="" class="text-red text-2xl underline sm:ml-[180px] ml-0 text-center sm:text-left">
      Ver mas...
    </a>
  </div>
</div>
<div
  class="flex flex-wrap rounded-2xl justify-center p-[5px] gap-[5px] mt-[50px] bg-[#1C2229] mx-auto max-w-[1200px]"
>
  <!-- Imagen -->
  <div class="bg-white/5 w-full sm:w-[500px] p-[5px] rounded-2xl">
    <img
      class="h-[390px] w-full rounded-2xl object-cover"
      [src]="'/assets/img/motorcycle-459594_1280 (1).jpg'"
      alt=""
    />
  </div>

  <!-- Contenido -->
  <div
    class="w-full sm:w-[300px] p-[10px] rounded-2xl bg-white/5 grid grid-rows-[auto_auto_1fr_auto] gap-[10px]"
  >
    <!-- Título -->
    <h1 class="text-6xl font-bold text-black">Motor GX- m90</h1>

    <!-- Fecha -->
    <p class="text-xs">Aida Bao | Madrid | 07 may 2025 - 22:15 COT</p>

    <!-- Descripción -->
    <p class="text-4xl">
      Noticia importante sobre el motor BG-08 para pulsar Ns para verificar
    </p>

    <!-- Enlace -->
    <a href="" class="text-red text-2xl underline sm:ml-[180px] ml-0 text-center sm:text-left">
      Ver mas...
    </a>
  </div>
</div>

