<div class="min-h-screen bg-[#1D222A]  mt-[50px]">
  <div class="flex justify-between p-10">
    <h1 class="text-4xl font-bold">Lista de productos</h1>
    <label class="input mr-[0px]">
      <svg
        class="h-[1em] opacity-50"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input type="search" class="grow" placeholder="Buscar producto..." />
      <kbd class="kbd kbd-sm">⌘</kbd>
      <kbd class="kbd kbd-sm">K</kbd>
    </label>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-20 p-10"
  >
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
    <app-card-product></app-card-product>
  </div>
</div>
