<div
  class="bg-white/5 rounded-xl shadow-2xl hover:shadow-lg  transition duration-300 p-[6px] w-[300px]"
>
  <img
    [src]="'/assets/img/honda-xl600r-7396188_1280.jpg'"
    class="w-full rounded-2xl object-cover h-42"
    alt=""
  />
  <div class="p-[5px] rounded-2xl bg-white/5 mt-[7px]">
    <h1 class="text-black font-bold">Product-Title</h1>
    <p class="text-black text-[15px]">
      this Product is better for motorss ssdasd asdasfas fasfasffasf fasf.
    </p>
    <a href="#" class="text-red-500 underline font-bold mt-[5px] ml-[180px]">Ver mas...</a>
  </div>
</div>
